<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="725ddc95-d9de-4885-8fc8-dabcd4882a6d" Version="1.0.0.0" Publisher="CN=Elodie" />
  <Properties>
    <DisplayName>MyVocabulary</DisplayName>
    <PublisherDisplayName>Elodie Batista</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="MyVocabulary" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="My Vocabulary is a simple application that enables you to save words you learn in other languages and to test your knowledge on your words." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#00AAAA" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
</Package>