/* =========================== */
/* =========== PAGE ========== */
/* =========================== */
div#pageHome {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1.2fr 1fr;
    -ms-grid-rows: 60px 80px 1fr;
}


/* =========================== */
/* ======== Section 1 ======== */
/* =========================== */
    div#pageHome section#section1 {
        -ms-grid-column: 1;
        -ms-grid-row: 3;
        display: -ms-grid;
        -ms-grid-columns: 120px 1fr 20px;
        -ms-grid-rows: 60px 60px 400px 1fr;
    }

    div#pageHome form#formNewWord {
        -ms-grid-column: 2;
        -ms-grid-row: 1;
        display: -ms-grid;
        -ms-grid-columns: 20px 1fr 35px;
        -ms-grid-rows: 40px 30px 70px 40px 30px 40px 90px 10px 30px;
    }

        div#pageHome form#formNewWord div.languageAndType {
            -ms-grid-column: 2;
            -ms-grid-row: 3;
            display: -ms-grid;
            -ms-grid-columns: 2fr 20px 1fr;
            -ms-grid-rows: 40px 30px;
        }

        div#pageHome form#formNewWord input[name="newWordDesignation"]      {   -ms-grid-column: 2;     -ms-grid-row: 2;    }
        div#pageHome form#formNewWord select#languagesList                  {   -ms-grid-column: 1;     -ms-grid-row: 2;    }
        div#pageHome form#formNewWord select#typesList                      {   -ms-grid-column: 3;     -ms-grid-row: 2;    }
        div#pageHome form#formNewWord input[name="newWordTranslation"]      {   -ms-grid-column: 2;     -ms-grid-row: 5;    }
        div#pageHome form#formNewWord textarea[name="newWordDescription"]   {   -ms-grid-column: 2;     -ms-grid-row: 7;    }
        div#pageHome form#formNewWord p#labelNewWordDesignation             {   -ms-grid-column: 2;     -ms-grid-row: 1;    }
        div#pageHome form#formNewWord p#labelNewWordLanguage                {   -ms-grid-column: 1;     -ms-grid-row: 1;    }
        div#pageHome form#formNewWord p#labelNewWordType                    {   -ms-grid-column: 3;     -ms-grid-row: 1;    }
        div#pageHome form#formNewWord p#labelNewWordTranslation             {   -ms-grid-column: 2;     -ms-grid-row: 4;    }
        div#pageHome form#formNewWord p#labelNewWordDescription             {   -ms-grid-column: 2;     -ms-grid-row: 6;    }
        div#pageHome form#formNewWord input[type="submit"]                  {   -ms-grid-column: 2;     -ms-grid-row: 9;    }


/* =========================== */
/* ======== Section 2 ======== */
/* =========================== */
    div#pageHome section#section2 {
        -ms-grid-column: 2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 3;
        display: -ms-grid;
        -ms-grid-columns: 30px 1fr 30px;
        -ms-grid-rows: 120px 78px 40px 20px 1fr 30px;
        background-image: url("/images/blackBackground.jpg");
        background-size: cover;
    }

    div#pageHome h2#wordsTitle {
        -ms-grid-column: 2;
        -ms-grid-row: 2;
    }

    div#pageHome div#wordMessage {
        -ms-grid-column: 2;
        -ms-grid-row: 4;
        color: rgb(235, 230, 200);
    }

    div#pageHome #wordsListView.win-listview {
        -ms-grid-column: 2;
        -ms-grid-row: 5;
        width: 100%;
        height: 100%;
    }

    div#pageHome #wordsListView.win-listview .win-container {
        margin: 2px 2px 10px 2px;
        background-color: rgb(38, 38, 38);
    }

    div#pageHome div.word {
        display: -ms-grid;
        -ms-grid-columns: 1fr 40px 20px 20px;
        -ms-grid-rows: 50px;
    }

        div#pageHome div.word div.designation {
            -ms-grid-column: 1;
            -ms-grid-column-span: 5;
            -ms-grid-row: 1;
            background-color: rgb(0, 170, 170);
            color: rgb(235, 230, 200);
            padding-left: 20px;
            padding-top: 25%;
        }

        div#pageHome div.word div.wordType {
            -ms-grid-column: 2;
            -ms-grid-row: 1;
            background-color: rgb(235, 230, 200);
            color: rgb(38, 38, 38);
            text-align: center;
            padding-top: 25%;
        }

        div#pageHome div.word div.wordKnown {
            -ms-grid-column: 3;
            -ms-grid-row: 1;
            background-color: rgb(0, 170, 170);
            color: rgb(235, 230, 200);
            text-align: center;
        }

            div#pageHome div.word div.wordKnown img {
                padding-top: 75%;
                width: 15px;
                height: 15px;
            }


/* =========================== */
/* ======== Section 3 ======== */
/* =========================== */
    div#pageHome section#section3 {
        -ms-grid-column: 3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 3;
        display: -ms-grid;
        -ms-grid-columns: 30px 1fr 30px;
        -ms-grid-rows: 120px 80px 10px 48px 50px 14px 112px 10px 30px 1fr;
        background-color: rgb(235, 230, 200);
    }

    div#pageHome h3#definitionTitle {
        -ms-grid-column: 2;
        -ms-grid-row: 2;
    }

    div#pageHome div#backExtraRowDefinition {
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        -ms-grid-row: 3;
        background-color: rgb(0, 138, 138);
    }

    div#pageHome div#translation {
        -ms-grid-column: 2;
        -ms-grid-row: 5;
        background-color: rgb(38, 38, 38);
        color: rgb(235, 230, 200);
        padding-left: 20px;
        padding-top: 25%;
    }

    div#pageHome div#description {
        -ms-grid-column: 2;
        -ms-grid-row: 7;
        background-color: rgb(38, 38, 38);
        color: rgb(235, 230, 200);
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        overflow-y: scroll;
        word-wrap: break-word;
    }

    div#pageHome div.actionsModification {
        -ms-grid-column: 2;
        -ms-grid-row: 9;
        display: -ms-grid;
        -ms-grid-columns: 1fr 10px 1fr;
        -ms-grid-rows: 1fr;
        color: white;
        font-size: 20px;
        text-align: center;
    }

    div#pageHome button#buttonEdit {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        display: none;
    }

    div#pageHome button#buttonDelete {
        -ms-grid-column: 3;
        -ms-grid-row: 1;
    }